<?xml version='1.0' encoding='utf-8'?>
<plugin id="com.outsystems.plugins.inappbrowser" version="1.0.0" xmlns="http://apache.org/cordova/ns/plugins/1.0" xmlns:android="http://schemas.android.com/apk/res/android">
    <name>cordova-outsystems-inappbrowser</name>
    <description>InAppBrowser OutSystems Cordova Plugin</description>
    <author>OutSystems Inc</author>
    
    <js-module name="OSInAppBrowser" src="dist/plugin.js">
        <clobbers target="cordova.plugins.OSInAppBrowser" />
    </js-module>
    <platform name="android">

        <hook type="before_plugin_install" src="hooks/outsystems/handle_cleartextTrafficPermitted.js" />

        <config-file parent="/*" target="res/xml/config.xml">
            <feature name="OSInAppBrowser">
                <param name="android-package" value="com.outsystems.plugins.inappbrowser.osinappbrowser.OSInAppBrowser" />
            </feature>
            <preference name="GradlePluginKotlinEnabled" value="true" />
            <preference name="GradlePluginKotlinCodeStyle" value="official" />
            <preference name="AndroidXEnabled" value="true"/>
        </config-file>
        
        <config-file parent="/*" target="AndroidManifest.xml" />
        <source-file src="src/android/OSInAppBrowser.kt" target-dir="app/src/main/kotlin/com/outsystems/plugins/inappbrowser/osinappbrowser" />
        <source-file src="src/android/OSInAppBrowserError.kt" target-dir="app/src/main/kotlin/com/outsystems/plugins/inappbrowser/osinappbrowser" />

        <framework src="src/android/build.gradle" custom="true" type="gradleReference" />
        <source-file src="src/android/OSInAppBrowserSystemBrowserInputArguments.kt" target-dir="app/src/main/kotlin/com/outsystems/plugins/inappbrowser/osinappbrowser" />
        <source-file src="src/android/OSInAppBrowserWebViewInputArguments.kt" target-dir="app/src/main/kotlin/com/outsystems/plugins/inappbrowser/osinappbrowser" />
    </platform>
    <platform name="ios">
        <config-file parent="/*" target="config.xml">
            <feature name="OSInAppBrowser">
                <param name="ios-package" value="OSInAppBrowser" />
            </feature>
            <preference name="SwiftVersion" value="5" />
        </config-file>

        <source-file src="src/ios/OSInAppBrowser.swift" />
        <source-file src="src/ios/OSInAppBrowserError.swift" />
        <source-file src="src/ios/OSInAppBrowserInputArgumentsModel.swift" />

        <framework src="src/ios/OSInAppBrowserLib.xcframework" embed="true" custom="true" />
    </platform>
</plugin>