<?xml version='1.0' encoding='utf-8'?>
<plugin id="com.outsystems.plugins.inappbrowser" version="1.0.0" xmlns="http://apache.org/cordova/ns/plugins/1.0" xmlns:android="http://schemas.android.com/apk/res/android">
    <name>cordova-outsystems-inappbrowser</name>
    <description>InAppBrowser OutSystems Cordova Plugin</description>
    <author>OutSystems Inc</author>
    
    <js-module name="OSInAppBrowser" src="dist/plugin.js">
        <clobbers target="cordova.plugins.OSInAppBrowser" />
    </js-module>
    <platform name="android">
        <config-file parent="/*" target="res/xml/config.xml">
            <feature name="OSInAppBrowser">
                <param name="android-package" value="com.outsystems.plugins.inappbrowser.OSInAppBrowser" />
            </feature>
        </config-file>
        
        <config-file parent="/*" target="AndroidManifest.xml" />
        <source-file src="src/android/OSInAppBrowser.kt" target-dir="src/com/outsystems/plugins/inappbrowser/OSInAppBrowser" />
        
    </platform>
    <platform name="ios">
        <config-file parent="/*" target="config.xml">
            <feature name="OSInAppBrowser">
                <param name="ios-package" value="OSInAppBrowser" />
            </feature>
        </config-file>

        <dependency id="cordova-plugin-add-swift-support" url="https://github.com/OutSystems/cordova-plugin-add-swift-support.git#2.0.3-OS1"/>

        <source-file src="src/ios/OSInAppBrowser.swift" />
        <source-file src="src/ios/OSInAppBrowserError.swift" />
        <source-file src="src/ios/OSInAppBrowserInputArgumentsModel.swift" />

        <framework src="src/ios/OSInAppBrowserLib.xcframework" embed="true" custom="true" />
    </platform>
</plugin>